venv
samplecard.json
sampleset.json
examples
swsh4_cards.json
transformed_pocket_cards.json
pocket4.json
pocket3.json
pocket2.json
pocket1.json
pocket.json
add_packs.json
upload.json
test_upload.json
upload2.json
small_upload_test.json
upload_backup.json